.title {
    font-family: Pattaya;
    font-weight: normal;
    font-size: 40px;
}
main {
    height: 70vh;
}
img {
    display: inline-block;
    width: 100%;
}
.line {
    width: 100%;
    height: 2px;
    background-color: #ABB4BD;
}