.product {
    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        // justify-content: space-between;
        border: 1px solid #ABB4BD;
        background-color: #2A2C36;
        // background: linear-gradient(to right bottom, rgba(#4f3869, 0.6), rgba(#242d44, 0.6));
        width: 280px;
        padding: 15px 10px;
        margin-top: 30px;
        &__img {
            width: 200px;
            height: 200px;
            // background: linear-gradient(to right bottom, rgba(#3f495e, 1), rgba(#2a404d, 1));
            // background: linear-gradient(to right bottom, rgba(#7587ad, 1), rgba(#456a80, 1));
        }
        &__text {
            padding-top: 20px;
            text-align: center;
            a {
                text-decoration: none;
            }
        }
        &__title {
            font-size: 18px;
            font-weight: 500;
        }
        &__rating {
            padding-top: 10px;
        }
        &__price {
            padding-top: 15px;
            font-size: 22px;
            font-weight: 700;
            letter-spacing: 1px;
        }
    }
}